<div class="funcionario-box">
  <div class="input-box">
    <label>Buscar funcionário</label>
    <input type="text" placeholder="Digite aqui" (input)="search($event)">
  </div>
</div>

<div>
  <h1>Funcionários:</h1>
</div>

<table class="table">

  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Departamento ID</th>
      <th>Funcionário ID</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>RG</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<tbody>
  <tr *ngFor="let funcionario of funcionariosList">
    <td>
      <div *ngIf="funcionario.ativo; else inativo">
        <img src="assets/images/Ativo.png" alt="" style="height: 20px; width: 20px;">
      </div>
      <ng-template #inativo>
        <img src="assets/images/Inativo.png" alt="" style="height: 20px; width: 20px;">
      </ng-template>
    </td>
    <td><img [src]="funcionario.foto" alt="Foto do Funcionário" style="height: 70px; width: 70px;"></td>
    <td>{{ funcionario.departamentoId }}</td>
    <td>{{ funcionario.id }}</td>
    <td>{{ funcionario.nome }}</td>
    <td>{{ funcionario.sobrenome }}</td>
    <td>{{ funcionario.rg }}</td>
    <td>
    </td>
    <td>
      <button routerLink="/editar-funcionario/{{funcionario.id}}">Editar</button>
    </td>
    <td>
      <button routerLink="/upload-imagem-funcionario/{{funcionario.id}}">Upload de imagem</button>
    </td>
    <td>
      <button (click)="DisableFuncionario(funcionario.id)">Desativar</button>
      <button (click)="EnableFuncionario(funcionario, funcionario.id)">Ativar</button>
    </td>
    <td>
      <button routerLink="deletar-funcionario/{{funcionario.id}}">Excluir</button>
    </td>
  </tr>
</tbody>

</table>

<div>
  <button routerLink="/cadastro-funcionario">Cadastrar novo funcionário</button>
</div>

<div>
  <button routerLink="">Voltar</button>
</div>
