<mat-card>

  <div class="logo-box">
    <img src="assets/images/logoevo.png" alt="">
  </div>

  <div class="navigation-box">

    <div class="input-box">
      <mat-form-field>
        <mat-label>Buscar funcionário:</mat-label>
        <input matInput type="text" placeholder="Digite aqui" (input)="search($event)">
      </mat-form-field>
    </div>

    <div class="btn-box">
      <button routerLink="/cadastro-funcionario" mat-raised-button color="primary">Cadastrar novo funcionário</button>
      <button (click)="Return()" mat-raised-button>Voltar</button>
    </div>

  </div>

  <table mat-table [dataSource]="funcionariosList" class="mat-elevation-z8">

    <ng-container matColumnDef="Situacao">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let funcionario">

        <div *ngIf="funcionario.ativo == true; else inativo">
          <img src="assets/images/Ativo.png" alt="" style="height: 20px; width: 20px;">
        </div>

        <ng-template #inativo>
          <img src="assets/images/Inativo.png" alt="" style="height: 20px; width: 20px;">
        </ng-template>

      </td>
    </ng-container>

    <ng-container matColumnDef="Foto">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let funcionario"> <img [src]="funcionario.foto" alt="Foto" class="image-box"> </td>
    </ng-container>

    <ng-container matColumnDef="DepartamentoId">
      <th  mat-header-cell *matHeaderCellDef>ID Departamento</th>
      <td mat-cell *matCellDef="let funcionario" class="content-box"> {{funcionario.departamentoId}} </td>
    </ng-container>

    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>ID Funcionário</th>
      <td mat-cell *matCellDef="let funcionario" class="content-box"> {{funcionario.id}} </td>
    </ng-container>

    <ng-container matColumnDef="Nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let funcionario" class="content-box"> {{funcionario.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="Sobrenome">
      <th mat-header-cell *matHeaderCellDef>Sobrenome</th>
      <td mat-cell *matCellDef="let funcionario" class="content-box"> {{funcionario.sobrenome}} </td>
    </ng-container>

    <ng-container matColumnDef="Rg">
      <th mat-header-cell *matHeaderCellDef>RG</th>
      <td mat-cell *matCellDef="let funcionario" class="content-box"> {{funcionario.rg}} </td>
    </ng-container>

    <ng-container matColumnDef="Editar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let funcionario">
        <button routerLink="/editar-funcionario/{{funcionario.id}}" mat-raised-button color="accent">Editar</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Upload">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let funcionario">
        <button (click)="OpenDialogUpload(funcionario.id)"  mat-raised-button color="primary">Upload</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Acoes">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let funcionario">
        <button (click)="OpenDialogSituacao(funcionario.id)" mat-raised-button>Situação</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Excluir">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let funcionario">
        <button mat-raised-button color="warn" (click)="OpenDialog(funcionario.id)">Excluir</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>

  </mat-card>
