mat-card{
  width: auto;
  margin: 20px;
}

.logo-box img{
  margin-bottom: 50px;
}

.navigation-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.btn-box{
  margin-left: 20px;
  margin-bottom: 20px;
}

.btn-box button{
  margin-right: 5px;
}

.image-box{
  height: 70px;
  width: 70px;
  margin-top: 7px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.content-box{
  padding-left: 20px;
}
