<mat-card>

<div class="logo">
  <img src="assets/images/logoevo.png" alt="">
</div>

<div class="departamento-box">
  <div class="input-box">
    <mat-form-field>
      <mat-label>Buscar departamento</mat-label>
      <input matInput type="text" placeholder="Digite aqui" (input)="search($event)">
    </mat-form-field>
  </div>
</div>

<table mat-table [dataSource]="departamentosList" class="mat-elevation-z8">

  <ng-container matColumnDef="Situacao">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let departamento">

      <div *ngIf="departamento.ativo == true; else inativo">
        <img src="assets/images/Ativo.png" alt="" style="height: 20px; width: 20px;">
      </div>

      <ng-template #inativo>
        <img src="assets/images/Inativo.png" alt="" style="height: 20px; width: 20px;">
      </ng-template>

    </td>
  </ng-container>

  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let departamento"> {{departamento.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Departamento">
    <th mat-header-cell *matHeaderCellDef>Departamento</th>
    <td mat-cell *matCellDef="let departamento"> {{departamento.nome}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Sigla">
    <th mat-header-cell *matHeaderCellDef>Sigla</th>
    <td mat-cell *matCellDef="let departamento"> {{departamento.sigla}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Acessar">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let departamento">
      <button routerLink="funcionarios-departamento/{{departamento.id}}" mat-raised-button>Acessar</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Editar">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let departamento">
      <button routerLink="/editar-departamento/{{departamento.id}}" mat-raised-button color="accent">Editar</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Acoes">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let departamento">
      <button (click)="DisableDepartamento(departamento.id)" mat-raised-button color="warn" style="margin-right: 5px;">Desativar</button>
        <button (click)="EnableDepartamento(departamento, departamento.id)" mat-raised-button color="primary">Ativar</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Excluir">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let departamento">
      <button mat-raised-button color="warn" (click)="OpenDialog(departamento.id)">Excluir</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

</mat-card>



<!-- <table class="table">

  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Departamento</th>
      <th>Sigla</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody *ngFor="let departamento of departamentosList">
    <tr>
      <td>
        <div *ngIf="departamento.ativo == true; else inativo">
          <img src="assets/images/Ativo.png" alt="" style="height: 20px; width: 20px;">
        </div>

        <ng-template #inativo>
          <img src="assets/images/Inativo.png" alt="" style="height: 20px; width: 20px;">
        </ng-template>
      </td>

      <td> {{departamento.id}} </td>
      <td> {{departamento.nome}} </td>
      <td> {{departamento.sigla}} </td>
      <td>
        <button routerLink="funcionarios-departamento/{{departamento.id}}">Acessar departamento</button>
      </td>
      <td>
        <button routerLink="/editar-departamento/{{departamento.id}}">Editar</button>
      </td>
      <td>
        <button (click)="DisableDepartamento(departamento.id)">Desativar</button>
        <button (click)="EnableDepartamento(departamento, departamento.id)">Ativar</button>
      </td>
      <td>
        <button routerLink="deletar-departamento/{{departamento.id}}">Excluir</button>
      </td>

    </tr>
  </tbody>
</table> -->

  <div class="btn-cadastro">
    <button routerLink="/cadastro-departamento" mat-raised-button color="primary">Cadastrar novo departamento</button>
  </div>
