mat-card {
  max-width: 100%;
}

.logo img{
  margin-bottom: 50px;
}

.title h1{
  color: #363636;
  font-weight: 500;
  margin-bottom: 25px;
}

.departamento-box{
  width: 100%;
  gap: 15px;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  margin-bottom: 2rem;
}

.btn-cadastro{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
