html, body{
  width: 100%;
  height: 100%;
  background-color: #002a64;
}

mat-card{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 3rem;
}

mat-form-field{
  width: 100%;
}

.input-box{
  width: 500px;
}

.btn-box{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-box button{
  width: 50%;
}
