<mat-card>

  <div class="details-box" *ngIf="departamento.id">
    <h1>Deseja confirmar a exclusão?</h1>
    <div>
      <h2>ID:</h2>
      <p>{{departamento.id}}</p>
      <h2>Departamento:</h2>
      <p>{{departamento.nome}}</p>
      <h2>Sigla:</h2>
      <p>{{departamento.sigla}}</p>
    </div>

    <div class="btn-box-delete">
      <button mat-raised-button color="warn" (click)="Delete()">Confirmar exclusão</button>
      <button mat-raised-button (click)="Return()">Voltar</button>
    </div>
  </div>

  </mat-card>
