<h1>{{btnTitulo}}</h1>

<form [formGroup]="departamentoForm" (ngSubmit)="submit()" #formDit="ngForm">
  <div class="input-box">
    <label for="">Nome</label>
    <input type="text" formControlName="nome" placeholder="Insira o nome do departamento" required>
  </div>

  <div class="input-box">
    <label for="">Sigla</label>
    <input type="text" formControlName="sigla" placeholder="Insira a sigla do departamento" required>
  </div>

  <div class="btn-box">
    <button type="submit" [disabled]="!departamentoForm.valid">{{btnAcao}}</button>
    <button routerLink="">Voltar</button>
  </div>

</form>
