<mat-card>

<h1>{{btnTitulo}}</h1>

<form [formGroup]="departamentoForm" (ngSubmit)="submit()" #formDit="ngForm">

  <div class="input-box">
    <mat-form-field>
      <mat-label for="">Nome:</mat-label>
      <input matInput type="text" formControlName="nome" placeholder="Insira o nome do departamento" required>
    </mat-form-field>
  </div>

  <div class="input-box">
    <mat-form-field>
      <mat-label for="">Sigla:</mat-label>
      <input matInput type="text" formControlName="sigla" placeholder="Insira a sigla do departamento" required>
    </mat-form-field>
  </div>

  <div class="btn-box">
    <button type="submit" [disabled]="!departamentoForm.valid" mat-raised-button color="accent">{{btnAcao}}</button>
    <button routerLink="" mat-raised-button>Voltar</button>
  </div>

</form>

</mat-card>
